.footer {
  background-color: var(--background-footer);
  color: var(--white);
  padding: 40px var(--side-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 740px;
}
.footer__column {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.footer__title {
  margin: 0;
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}
.footer__contact-item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__contact-text {
  margin: 0;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--gold);
}
