.footer {
  background-color: var(--background-footer);
  color: var(--white);
  padding: 40px var(--side-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__content {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 302px));
  width: 100%;
  max-width: 740px;
  row-gap: 32px;
  justify-content: space-between;
}

.footer__title {
  margin: 0;
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}
.footer__contact-item {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__contact-text {
  margin: 0;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--gold);
}
