.button {
  border: none;
  padding: 15px 45px;
  background-color: $gold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  border-radius: 26px;
  color: $font-button-color;
  background-color: $gold;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-family: 'Georgia', serif;
}
.button:hover,
.card:hover .button {
  background-color: $gold-hover;
}

.button_style_weak {
  border: 2px solid $gold;
  background-color: transparent;
  padding: 14px 44px;
}
.button_state_inactive {
  border-color: $font-extra-color;
  pointer-events: none;
}

.button_style_rnd {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#firstPageBtn {
  background-image: url(../images/pagination_arrow_double.svg);
  &.button_state_inactive {
    background-image: url(../images/pagination_arrow_double_fade.svg);
  }
}
#lastPageBtn {
  background-image: url(../images/pagination_arrow_double.svg);
  &.button_state_inactive {
    background-image: url(../images/pagination_arrow_double_fade.svg);
  }
}
#prevPageBtn {
  background-image: url(../images/pagination_arrow.svg);
  &.button_state_inactive {
    background-image: url(../images/pagination_arrow_fade.svg);
  }
}
#nextPageBtn {
  background-image: url(../images/pagination_arrow.svg);
  &.button_state_inactive {
    background-image: url(../images/pagination_arrow_fade.svg);
  }
}
.button_type_right {
  right: 0;
  top: 0;
  position: absolute;
}
.button_type_left {
  left: 0;
  top: 0;
  position: absolute;
}
.button_style_rotated {
  transform: rotate(180deg);
}
