.button {
  border: none;
  padding: 15px 45px;
  background-color: var(--gold);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  border-radius: 26px;
  color: var(--font-button-color);
  background-color: var(--gold);
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
}
