.button {
  border: none;
  padding: 15px 45px;
  background-color: $gold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  border-radius: 26px;
  color: $font-button-color;
  background-color: $gold;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-family: 'Georgia', serif;
}
.button:hover,
.card:hover .button {
  background-color: $gold-hover;
}

.button_style_weak {
  border: 2px solid $gold;
  background-color: transparent;
  padding: 14px 44px;
}
.button_state_inactive {
  border-color: $font-extra-color;
  pointer-events: none;
}

.button_type_page {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.button_type_right {
  right: 0;
  top: 192px;
  position: absolute;
}
.button_type_left {
  left: 0;
  top: 192px;
  position: absolute;
}
.button_style_rotated {
  transform: rotate(180deg);
}
