.header {
  background: $background-header;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 $side-padding;
  box-sizing: border-box;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0 30px;
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    padding: 0 20px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 10px;
  }
}

.header_state_pets {
  background: $white;
  .navbar__burger-btn-strip {
    background-color: $black;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 23fr 35fr;
  gap: 42px;
  text-transform: none;
  padding-top: 60px;
  align-items: end;
  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
    gap: 100px;
    justify-items: center;
    padding-top: 30px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 105px;
  }
}
.header__title {
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  max-width: 310px;
  text-transform: none;
  @media screen and (max-width: $breakpoint-mobile-big) {
    font-size: 32px;
    line-height: 40px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: 200px;
    letter-spacing: 0.06em;
  }
}
.header__subtitle {
  margin: 0;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 460px;
  color: #cdcdcd;
  @media screen and (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}
.header__content {
  padding: 0 0 80px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-self: center;
  @media screen and (max-width: $breakpoint-tablet) {
    max-width: 460px;
    padding-bottom: 0;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    align-items: center;
  }
}
.header__img-container {
  box-sizing: border-box;
  width: 100%;
  @media screen and (max-width: $breakpoint-tablet) {
    text-align: right;
  }
}
.header__img {
  max-width: 100%;
  @media screen and (max-width: $breakpoint-tablet) {
    width: 80.2%;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    width: 86.7%;
  }
}
.header__btn-wrapper {
  @media screen and (max-width: $breakpoint-tablet) {
    display: flex;
    justify-content: center;
  }
}
