.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  transition: 0.5s ease box-shadow;
  border-radius: 9px;
}
.card__img-container {
  width: 100%;
}

.card__title {
  margin: 0;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-dark);
}
