.pets {
  padding: 80px 145px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--background-light-grey);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.pets_state_pets {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.pets__container {
  width: 100%;
  max-width: 990px;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  position: relative;
}
.pets__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pets__container_state_pets {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: auto;
}

.pets__title {
  max-width: 400px;
}
.pets__pagination {
  display: flex;
  gap: 20px;
}
