.pets {
  padding: 80px 145px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--background-light-grey);
  align-items: center;
  justify-content: center;
  position: relative;
}
.pets_state_pets {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.pets__container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.pets__container_state_pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.pets__title {
  max-width: 400px;
}
.pets__pagination {
  display: flex;
  gap: 20px;
}
