.pets {
  padding: 80px 105px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: $background-light-grey;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-width: $breakpoint-tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: $breakpoint-extra-m) {
    gap: 42px;
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    padding: 42px 10px;
  }
}
.pets_state_pets {
  padding-left: $side-padding;
  padding-right: $side-padding;
}

.pets__container {
  width: 100%;
  max-width: 990px;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  @media screen and (max-width: $breakpoint-extra-big) {
    max-width: 580px;
  }
  @media screen and (max-width: $breakpoint-extra-m) {
    max-width: 270px;
  }
}
.pets__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pets__container_state_pets {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: auto;
}

.pets__title {
  max-width: 400px;
}
.pets__pagination {
  display: flex;
  gap: 20px;
}
.pets__nav-buttons {
  display: flex;
  position: absolute;
  padding-top: 30px;
  right: 30px;
  justify-content: center;
  left: 30px;
  @media screen and (max-width: $breakpoint-tablet) {
    left: 30px;
    right: 30px;
    padding-top: 35px;
  }
  @media screen and (max-width: $breakpoint-extra-m) {
    position: static;
    justify-content: center;
    align-self: center;
    margin-bottom: -20px;
  }
}
.pets__nav-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  gap: 80px;
  @media screen and (max-width: $breakpoint-extra-big) {
    max-width: 708px;
  }
}
.pets__card {
  z-index: 2;
}
